---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostList from '../../components/PostList.astro';
import { getCollection } from 'astro:content';
import { sortPosts } from '../../utils/format';

const posts = sortPosts(await getCollection('blog', ({ data }) => !data.draft));
---

<BaseLayout title="Blog" description="Blog posts by Sunil Bastola.">
  <h1>Blog</h1>
  <PostList posts={posts} />
</BaseLayout>
