---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Favourites" description="Things I am interested in and return to often.">
  <p>A personal reflection page for blogs, websites, tools, authors, and topics I like.</p>

  <section>
    <h3>Blogs</h3>
    <ul>
      <li>
        <a href="https://blog.samaltman.com/">Sam Altman</a> - CEO, OpenAI
      </li>
      <li>
        <a href="https://patrickcollison.com/">Patrick Collison</a> - Stripe CEO
      </li>
      <li>
        <a href="https://paulgraham.com/">Paul Graham</a> - Y Combinator Founder
      </li>
      <li>
        <a href="https://substack.com/@vizuaraailabs">Vizuara AI Labs</a> - Deep AI Blogs
      </li>
    </ul>
  </section>

  <section>
    <h3>Podcasts/Channels</h3>
    <ul>
      <li>
        <a href="https://www.dwarkesh.com/">Dwarkesh Podcast</a> - AI and Deep Tech
      </li>
      <li>
        <a href="https://www.youtube.com/@veritasium">Veritasium</a> - YouTube Channel
      </li>
    </ul>
  </section>

  <section>
    <h3>Interesting Websites</h3>
    <ul>
      <li>
        <a href="https://www.noahzender.com/ideas">Noah Zender</a> - Ideas for Life
      </li>
    </ul>
  </section>

  <section>
    <h3>Tools</h3>
  </section>

  <section>
    <h3>Authors</h3>
  </section>

  <section>
    <h3>Topics</h3>
  </section>
</BaseLayout>