---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Bookshelf" description="Books I am currently reading and collecting notes on.">
  <p class="summary-text">
    The list contains the books that I am currently reading, best reads, and books I want to
    explore. They are not in any order of priority, rather that I have read till now. I know there
    are many books that I havent read. Feel free to recommend me anything that you think is really
    good.
  </p>

  <section>
    <h3>Finance</h3>
    <ul>
      <li>Rich Dad, Poor Dad - Robwet Kiyosaki</li>
    </ul>

    <section>
      <h3>Life & Philosophy</h3>
      <ul>
        <li>
          The first and Last Freedom - J. Krishnamurti
          <li>
            Man's Search for Meaning - Vicotr E. Frankl
            <li>Sapiens - Yuval Noah Harrari</li>
          </li>

          <section>
            <h3>Science,Tech & Engineering</h3>
            <ul>
              <li>
                The first and Last Freedom - J. Krishnamurti
                <li>Alchemist - Paulo Coelho</li>
              </li>

              <section>
                <h3>Business</h3>
                <ul>
                  <li>Zero to One - Peter Thiel</li>
                </ul>

                <section>
                  <h3>Biographies</h3>
                  <ul>
                    <li>
                      Losing My Virginity - Richard Branson
                      <li>Greenlights by Matthew Mccounaggy</li>
                    </li>

                    <section>
                      <h3>Personal Development</h3>
                      <ul>
                        <li>
                          Think and Grow Rich - Napolean Hill
                          <li>The Hard things about Hard Things - Ben Horowitz</li>
                        </li>
                      </ul>
                    </section>
                  </ul>
                </section>
              </section>
            </ul>
          </section>
        </li>
      </ul>
    </section>
  </section></BaseLayout
>
